.dockerignore
Dockerfile
.git
.gitignore
*.log
saveid
minecraft_token.json
node_modules
# if you build your own image, you can comment secrets.json and config.json out and do not share the image with secrets.json
secrets.json
config.json
