{
    "discordBot": DISCORDBOT_FLAG,
    "webserver": WEBSERVER_FLAG,
    "ports":{
        "minecraft":MINECRAFT_PROXY_PORT, // port for the proxy server
       "web":WEB_UI_PORT
    },
    "openBrowserOnStart": false,
    "password":"", // password for the webinterface
    "MCversion":"1.12.2",
    "logging": true, // log errors and queue place
    "reconnect": {
        "onError": true, // reconnect on error or if 2b2t kicks you
        "notConnectedQueueEnd": false // restart the queue if you are not connect at the end of it
    },
    "minecraftserver": { // the server you want to connect. Make not much sense to change it, was just added for development purpose
        "hostname": "2b2t.org",
	"is2b2t": true, // to allow proxies inbetween 2bored2wait and 2b2t
        "port": 25565,
        "version": "1.12.2",
        "onlinemode": true,
        "username": "lol" // the username to use if onlinemode is false
    },
    "notification": { // sends a message via discord if the place in the queue reaches the specified number
        "enabled": true, // you must send the bot a message once.
        "queuePlace": 20,
        "userStatus": true // show username in discord bot status, in case of alts
    },
    "antiAntiAFK": true, // to bypass antiAFK plugins
    "chunkCaching": true,
    "joinOnStart": false // join the server when 2b2w is started
}
