---
version: "3"
services:
   2bored2wait:
      image: mrgeorgen/2bored2wait:latest
      container_name: 2bored2wait
      stdin_open: true
      tty: true
      ports:
         - "80:8080"
         - "25565:25566"
      restart: unless-stopped
      environment:
         MOJANG_USERNAME: Your Minecraft Username
         MOJANG_PASSWORD: Your Minecraft Password
         BOT_TOKEN: Your Discord Bot Token
         DISCORD_BOT: "true"
         WEBSERVER: "true"
         MINECRAFT_PORT: 25566
         WEBUI_PORT: 8080
